
<section class="main-content">
    <h2 class="sub-headingg"> Professional Tax  Edit (PT)</h2>

    <div class="profForm">
        <div class="row">
            <div>
                <form [formGroup]="editForm" (submit)="saveProfessionalTax()">
                    <div class="row">
                        <div class="col-3">
                            <label for="Doc_num" class="label-name">PT From (Rs.) : </label>
                            <input type="number" class="form-control" matInput placeholder="PT from" formControlName="from">
                        </div>
        
                        <div class="col-3">
                            <label for="Total_amount" class="label-name"> PT To (Rs.) : </label>
                            <input type="number" class="form-control" matInput placeholder="PT to" formControlName="to">
                        </div>
        
                        <div class="col-3">
                            <label for="Commencement" class="label-name">PT Values (Rs.) : </label>
                            <input type="number" class="form-control" matInput placeholder="PT Values" formControlName="values">
                        </div>
        
                        <div class="col-1 updatebtn">
                            <button class="btn btn-info" type="submit" [disabled]="!editForm.valid">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

